@font-face {
    font-family: "iconfont"; /* Project id 3707045 */
    src: url('iconfont.woff2?t=1667745749401') format('woff2'),
    url('iconfont.woff?t=1667745749401') format('woff'),
    url('iconfont.ttf?t=1667745749401') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-comments:before {
    content: "\e689";
}

.icon-blog:before {
    content: "\e660";
}

.icon-quanxian:before {
    content: "\e63f";
}

.icon-yonghuguanli:before {
    content: "\e6aa";
}

.icon-leibie:before {
    content: "\e649";
}

.icon-nicheng:before {
    content: "\e633";
}

.icon-calendar:before {
    content: "\e6bf";
}

.icon-open-eyes:before {
    content: "\e6af";
}

.icon-liuyan:before {
    content: "\e638";
}

.icon-time:before {
    content: "\e65f";
}

.icon-qq:before {
    content: "\e600";
}

.icon-wechat-:before {
    content: "\e621";
}

